body {
    background-color: #F6F4F3;
    margin:0;
}

header {
    background-color: #8DB7DC;
    display: block;
}

.container {
    display: flex;
    flex-direction: column-reverse;
}

.control {
    background-color: #7C95C8;
    flex: 1;
}


#logo {
    padding-left: 10px;
    font-size: 90px;
    font-family: 'Roboto Slab', serif;
}

.btn {
    float: right;
    border: none;
    background:  linear-gradient(90deg, #F6F4F3,#7EA2CA);
    background-size: 300% 300%;
    size: 40px 40px;
    margin: 4px 8px 2px 2px;
    text-align: center;
    outline: none;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    border-radius: 4px;
    user-select: none;
}

.btn:hover {
    background:  linear-gradient(90deg, #F6F4F3,#7EA2CA);
    background-size: 300% 300%;
    animation: gradient 4s linear infinite;
}

.btn:active {
    background: linear-gradient(90deg, #F6F4F3,#7EA2CA);
    animation: gradient 0.5s linear infinite;
}

#addInfo {
    padding: 2px 0px 0px 10px;
    float: left;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
}

.task {
    background: #7EA2CA;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    margin-bottom: 1px;
    flex: 1;
}

.task-div {
    flex: 1;
    padding-left: 10px;

}

.title-div {
    flex: 1;
    padding-left: 10px;
}

.input-task {
    border: 1px solid #3E4552;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    font-family: 'Open Sans', sans-serif; 
}

.input-title {
    width: calc(1.5vw * 40);
    border: 1px solid #3E4552;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6vw;
}

@media screen and (max-width: 830px) {
    #addInfo {
        display: none;
    }
}

@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}