body {
    background-color: #F6F4F3;
    margin:0;
}

header {
    background-color: #8DB7DC;
    display: block;
}

.container {
    display: flex;
    flex-direction: column-reverse;
}

.control {
    background-color: #7C95C8;
    flex: 1;
}


#logo {
    padding-left: 10px;
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
}

.btn {
    float: right;
    border: none;
    background:  linear-gradient(90deg, #F6F4F3,#7EA2CA);
    background-size: 300% 300%;
    size: 22px 22px;
    margin: 2px 8px 2px 2px;
    text-align: center;
    outline: none;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    border-radius: 4px;
    user-select: none;
}

.btn:hover {
    background:  linear-gradient(90deg, #F6F4F3,#7EA2CA);
    background-size: 300% 300%;
    animation: gradient 4s linear infinite;
}

.btn:active {
    background: linear-gradient(90deg, #F6F4F3,#7EA2CA);
    animation: gradient 0.5s linear infinite;
}

#addInfo {
    padding: 2px 0px 0px 10px;
    float: left;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
}

@media screen and (max-width: 430px) {
    #addInfo {
        display: none;
    }
}

@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}